 <hr>
<div class="list-group">
  <a class="list-group-item list-group-item-action active bg-dark">
    <li class="text-white bg-dark">Proyecto: {{ proyect.name }}</li>
  </a>
  <a  class="list-group-item list-group-item-action"><li>Tipo de proyecto: {{ proyect.type }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Modalidad: {{ proyect.modality }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Modalidad: {{ proyect.modality }}</li></a>
  <a  class="list-group-item list-group-item-action" ><li>Responsable: {{ proyect.responsable }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Asesor: {{ proyect.adviser }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Participantes: {{ proyect.participants }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Hora de creación: {{ proyect.creationdate }} </li></a>
  <a  class="list-group-item list-group-item-action"><li>Fecha de inicio: {{ proyect.initialdate }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Calificación: {{ proyect.qualification }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Estado: {{ proyect.state }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Entregables: {{ proyect.deliverables }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Objetivo General: {{ proyect.generalpurpose }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Objetivos especificos: {{ proyect.specificobjectives }}</li></a>
  <a  class="list-group-item list-group-item-action"><li>Reconocimientos: {{ proyect.recognitions }}</li></a>
</div>