<hr>
<div class="row">
    <div class="col-sm-6" *ngFor="let proyecto of proyect">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Proyecto: {{ proyecto.nombre }}</h5>
                <p class="card-text">Fecha de inicio: {{ proyecto.fecha_inicio }}</p>
                <p class="card-text">Fecha de fin: {{ proyecto.fecha_fin }}</p>
                <p class="card-text">Tipo de proyecto: {{ proyecto.tipo }}</p>
                <a href="#" class="btn btn-primary">Ver más...</a>
            </div>
        </div>
        <hr>
    </div>
</div>
<hr>

