<div class="jumbotron">
  <h1 class="display-4">Aplicación para gestionar proyectos</h1>
  <p class="lead">Se propone desarrollar un Sistema de Información web para el registro, seguimiento y
control de los proyectos académicos (docencia, investigación y extensión) para el
departamento de Ingeniería de sistemas. Los proyectos de docencia pueden incluir
talleres, laboratorios, prácticas, proyectos integradores, etc.</p>
  <hr class="my-4">
  <p>Este es un desarrollo para la asignatura Proyecto Integrador I</p>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/14Y2rnSOXmnixNGi3Q3260R0_x-VTfQH_/view?usp=sharing" role="button">Learn more</a>
</div>