<div class="form-group row">
    <label class="col-sm-3" style="color:black">Nombre proyecto</label>
    <div class="col-sm-9">
        <input type="proyectos" class="form-control" placeholder="">
    </div>
</div>

<div class="form-group row">

    <label class="col-sm-3" style="color:black">Tipo de proyecto</label>
    <div class="col-sm-9">
        <input type="proyectos" class="form-control" placeholder="">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3" style="color:black">Modalidad</label>
    <div class="col-sm-9">
        <input type="proyectos" class="form-control" placeholder="">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3" style="color:black">Fecha de creacion</label>
    <div class="col-sm-9">
        <input type="date" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3" style="color:black">Fecha inicial</label>
    <div class="col-sm-9">
        <input type="date" class="form-control">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" style="color:black">Fecha de finalización</label>
    <div class="col-sm-9">
        <input type="date" class="form-control">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" style="color:black">Estado</label>
    <div class="col-sm-9">
        <select class="custom-select custom-select-sm-9">
        <option selected>Elegir...</option>
        <option value="1">Aprobado</option>
        <option value="2">Desaprobado</option>
        
      </select>
    </div>
</div>


<div class="form-group row">
    <label class="col-sm-3" style="color:black">Objetivo general</label>
    <div class="col-sm-9">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3" style="color:black">Objetivos especificos</label>
    <div class="col-sm-9">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3" style="color:black">Entregables esperados</label>
    <div class="col-sm-9">
        <input type="file" class="form-control-file" id="exampleFormControlFile1" style="color:white">
    </div>
</div>