<!------ Include the above in your HEAD tag ---------->

<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
<div class="row">
    <div class="container">
        <div class="card card-body">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Correo electronico" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                <div id="remember" class="checkbox">
                    <label>
                            <input type="checkbox" value="remember-me"> Recordar la constraseña
                        </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrarse</button>
            </form>
            <!-- /form -->
            <a href="#" class="forgot-password">
                    ¿Olvido la contraseña?
            </a>
        </div>
        <!-- /card-container -->
    </div>
</div>
<!-- /container -->