<hr>

<h4>Nuevo proyecto</h4>

<hr>

<form #proyeForm="ngForm" (ngSubmit)="functionName">

    <div id="form1">

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input type="text" class="form-control" [(ngModel)]="proyect.nombre" name="nombre" placeholder="Nombre" formControlName="nombre">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Tipo de proyecto</label>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="proyect.tipo" name="tipo" placeholder="Tipo de programa" formControlName="tipo">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Programa</label>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="proyect.programa" name="programa" placeholder="Programa" formControlName="programa">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="programa.invalid && (programa.dirty || programa.touched)">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Asesor</label>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="proyect.asesor" name="asesor" placeholder="Asesor" formControlName="asesor">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="asesor.invalid && (asesor.dirty || asesor.touched)">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Responsable</label>
            <div class="col-8">

                <input type="text" class="form-control" [(ngModel)]="proyect.responsable" name="responsable" placeholder="Id del responsable" formControlName="responsable">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="responsable.invalid && (responsable.dirty || responsable.touched)">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha creación</label>
            <div class="col-8">

                <input type="text" class="form-control" [(ngModel)]="proyect.fecha_creacion" name="fecha_creacion" placeholder="Fecha de creacion" formControlName="fecha_creacion">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)">
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha inicio</label>
            <div class="col-8">

                <input type="text" class="form-control" [(ngModel)]="proyect.fecha_inicio" name="fecha_inicio" placeholder="Fecha de inicio" formControlName="fecha_inicio">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="fecha_inicio.invalid && (fecha_inicio.dirty || fecha_inicio.touched)">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha finalización</label>
            <div class="col-8">

                <input type="text" class="form-control" [(ngModel)]="proyect.fecha_fin" name="fecha_fin" placeholder="Fecha de finalización" formControlName="fecha_fin">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="fecha_fin.invalid && (fecha_fin.dirty || fecha_fin.touched)">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Calificación</label>
            <div class="col-8">

                <input type="text" class="form-control" [(ngModel)]="proyect.calificacion" name="calificacion" placeholder="Calificacion" formControlName="calificacion">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="calificacion.invalid && (calificacion.dirty || calificacion.touched)">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Objetivo general</label>
            <div class="col-8">

                <input type="text" class="form-control" [(ngModel)]="proyect.objetivo_general" name="objetivo_general" placeholder="Objetivo general" formControlName="objetivo_general">
                <!-- required minlength="4" -->
                <div class="alert alert-danger" *ngIf="objetivo_general.invalid && (objetivo_general.dirty || objetivo_general.touched)">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Estado</label>
            <div class="col-8">

                <select class="custom-select custom-select-sm-9" [(ngModel)]="proyect.id_estado">
                    <option selected>Elegir...</option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                    <option value="3">Aprovado</option>
                    <option value="4">Reprovado</option>
                </select>

            </div>
        </div>

    </div>



    <hr>
    <div class="form-group row">
        <div class="col-8">
            <button class="btn btn-success btn-sm" role="button" (click)='create()'>Guardar</button>
        </div>
    </div>

</form>
<h4>Guardar Proyecto</h4>