<h4>Nuevo proyecto <small> data </small></h4>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Nuevo proyecto</a></li>
        <li class="breadcrumb-item"><a href="#">Participanes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
</nav>
<hr>

<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate">
    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="nombre" formControlName="nombre">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Tipo de proyecto</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="tipo" formControlName="tipo">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Programa</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="programa" formControlName="programa">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Asesor</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="asesor" formControlName="asesor">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Responsable</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="responsable" formControlName="responsable">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha creación</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Fecha de creacion" formControlName="creacion">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha inicio</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder=" Fecha de inicio" formControlName="inicio">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha finalización</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="fecha de finalización" formControlName="fin">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Calificación</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="calificacion" formControlName="calificacion">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Objetivo general</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="objetivo general" formControlName="objetivo">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Estado</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="estado del proyecto" formControlName="estado">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" *ngIf="forma.valid">
        Guardar
      </button>
        </div>
    </div>
    <div>

    </div>

</form>