<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="http://udea.edu.co">
        <img src="assets/img/udea.png" width="30" heigth="30" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['proyectos']">Proyectos activos</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated()">
                <a class="nav-link" [routerLink]="['gestionproyecto']">Agregar proyecto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['about']">Acerca</a>
            </li>
        </ul>
        <form class="form-inline" *ngIf="auth.isAuthenticated()">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success btn-sm" type="button">Buscar</button>
        </form>

        <span class="navbar-text">
            <button type="button" 
                class="btn btn-success btn-sm">Registrar</button>
            <button (click)="login()"
            *ngIf="!auth.isAuthenticated()"
            type="button" 
            class="btn btn-success btn-sm">Ingresar</button>
            <button (click)="salir()"
                *ngIf="auth.isAuthenticated()"
                type="button" 
                class="btn btn-success btn-sm">Salir</button>    
        </span>
    </div>
</nav>